* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

}

/* Navigation tools */

.nav-bar {
  position: fixed;

  justify-content: space-between;

  display: flex;

  top: 0%;

  width: 100%;

  z-index: 99;

  padding-top: 20px;

  background-color: #ffff;

}

ul {
  width: 100%;
}


.custom-menu {
  display: none;


  padding: 15px;

  width: auto;


  color: #000;

  font-style: bold;

  border: 0;

  background-color: #ffff;

}

.custom-menu:hover{
  background-color: #f0f0f0;
}

.nav-bar a {
  text-decoration: none;

  color: #3d3d3d;

  display: inline-block;

  height: 50px;

  line-height: 50px;


}

.nav-bar ul {
  list-style-type: none;

}

a:hover {
  color: gold;
}


.nav-bar li a {
  float: right;

  width: 15%;

  text-align: center;

  border-right: 1px solid #f0f0f0;
}

.nav-bar :last-child {
  border: none;
}

/* Header Name */
.header-name {
  padding: 5px;

  color: rgb(255, 230, 0);

  width: 10px;

  margin-left: 5%;
}

.titleheader,
.custom-content4 {

  height: 100%;
}

.custom-col1 {
  opacity: none;
}

.custom-col1 span {
  color: gold;
}

.custom-col1 > h1 {
  color: gold;
}

/* custom header */

.custom-titleheader {
  grid-template-columns: auto auto;

  gap: 8em 8em;

  display: flex;

  padding-top: 150px;

  padding-left: 1rem;

  justify-content: center;

}

.custom-col1 > h1,
.custom-col1 > p {
  font-size: clamp(55px, 8vw, 80px);

  align-items: center;

  color: #3d3d3d;
}

.custom-col1 > p {
  font-size: clamp(20px, 3vw, 30px);

  padding: 10px;
}

.custom-col1 {
  color: #f0f0f0;
}

.title-buttons > a {
  padding: 15px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
  border-radius: 100%;
}

.title-buttons > a:hover {
  color: #ffd700;
  transition: ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
}

.custom-rows1 > .custom-col2{
font-size: 25px;
color: #3d3d3d;
padding-left: 10%;

}


.custom-rows1,.custom-rows3{
  padding-top: clamp(100px, 150px, 300px);
}


.techstac ul li{
  text-decoration: none;
  display: inline;
  padding: 10px;
}

.techstac{
  text-align: center;
  font-weight: bold;
  margin: 3%;
}
.custom-rows2{
  margin: 5% 20%; 
  padding: 30px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
  display: flex;
  gap: 8rem 8rem;
  align-items: center;
  grid-template-columns: auto auto;
}

.custom-col3 > p{
  font-size: clamp(11px, 1.5vw, 18px);
}

.custom-col4 > img{
  height: 100%;
  width: clamp(200px, 1.5rem, 2.5rem);
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 15px 30px;

  
}

.custom-col4, .custom-col5{
  padding-bottom: 20px;

}



.custom-rows3 > .custom-col5{
  font-size: 25px;
  color: #3d3d3d;
  padding-left: 10%;
  padding-top: 30px;
  
  }
  .custom-rows4{
    margin: 5% 20%;
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
    width: 60%;
  
    
  }

  .custom-col6 > h2{
    color: #ffa600;
  }
  
  .custom-col4, .custom-col5{
    padding-bottom: 20px;
  
  }



  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation-name: animatecenter;
  animation-duration: 0.4s;
  border-radius: 20px;
  text-align: center;
}


/* Add Animation */
@keyframes animatecenter {
  from {top: 0; opacity: 0}
  to {top: -300px; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border:2px solid #000;
  background-color: #ff0000;
  border-radius: 10%;
  padding: 0px 5px 0px 5px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (min-width: 900px) {
  .nav-bar > ul {
    display: block;
  }

  .custom-menu {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .nav-bar > ul {
    display: none;
  }

  .custom-menu {
    display: block;
  }

  .container, .container1{
    height: auto;
    width: auto;
  }

}
